/* ========================================================================== */
/*                             국문 폰트 - OpenSans                            */
/* ========================================================================== */
@font-face {
  font-family: "myFont";
  src: url("~@assets/fonts/ko/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf")
    format("truetype");
  font-weight: 700;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "myFont";
  src: url("~@assets/fonts/ko/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf")
    format("truetype");
  font-weight: 400;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "myFont";
  src: url("~@assets/fonts/ko/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf")
    format("truetype");
  font-weight: 300;
  unicode-range: U+AC00-D7A3;
}

/* ========================================================================== */
/*                             영문 폰트 - OpenSans                            */
/* ========================================================================== */
@font-face {
  font-family: "myFont";
  src: url("~@assets/fonts/en/Opensans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "myFont";
  src: url("~@assets/fonts/en/Opensans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "myFont";
  src: url("~@assets/fonts/en/Opensans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  unicode-range: U+0041-005A, U+0061-007A;
}

/* ================================ 전역 폰트 적용 ================================ */
body,
* {
  font-family: "myFont";
}
